# Nextflow
work/
.nextflow/
.nextflow.log*
.timeline.*
.trace.*
.report.*
.dag.*

# Results
results/
output/
reports/

#Donnees de sequencage 
*.pod5
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram

#Bases de donnees
databasses/
db/
bakta_db/
amrfinder_db/


# Conda
.conda/
env/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Temporary files
*.tmp
*.Temp
*.log
