params {
    input = "null"
    outdir = "results"

    genome_size = '5m' 
    min_length = 1000 
    min_quality = 10 
    dorado_model = null 
    dorado_device = 'auto'
    medaka_model = 'r1041_e82_400bps_hac_v5.0.0'
    prokka_kingdom = 'Bacteria'
    prokka_genus   = ''
    prokka_species = ''
    prokka_strain  = ''
    amrfinder_db = null

}

process{
    executor = 'local'
    cpus = 1
    memory = '2 GB'
    time = '2h'

    errorStrategy = 'terminate'

}

timeline {
    enabled = true
    file = '${params.outdir}/pipeline_info/timeline.html'
    overwrite = true

}

report { enabled = true 
file = "${params.outdir}/pipeline_info/report.html" 
overwrite = true
}

trace { enabled = true 
file = "${params.outdir}/pipeline_info/trace.txt"
overwrite = true
}

dag { enabled = true
file = "${params.outdir}/pipeline_info/dag.html"
overwrite = true
}

manifest {
    name = 'amr-ont-pipeline'
    author = 'Daniel Ilboudo'
    description = 'Nextflow pipeline for Oxford Nanopore bacterial genome analysis and AMR gene detection'
    mainScript = 'main.nf'
}
